.user-page {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas: 
            "header header header header"
            "sideMenu content content content"
            "sideMenu content content content"
            "sideMenu content content content";
}

.header {
  display: grid;
  grid-area: header;
  height: 10vh;
}

.side-menu {
  display: grid;
  grid-area: sideMenu;
  height: 90vh;
}

.content {
  display: grid;
  grid-area: content;
}
